
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/stylesheets/project.css'%}">
  </head>
  <body>
    
    
    <section id="awards" class="px-5 container-lg container-md">
        <header class=" mt-5 pt-5 text-white justify-content-between">
          <h3><span class="hash-tag">#</span> awards & achievements 
            <svg xmlns="http://www.w3.org/2000/svg" width="239" height="2" viewBox="0 0 239 2" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M239 1.5H0V0.5H239V1.5Z" fill="#C778DD"/>
            </svg>
          </h3>
          <div>
            <div class="d-flex justify-content-between">

              <p>Click the button to view the details of my achievements.</p>
              <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                <div class="col-md-12 col-sm-12 pb-3">
                  <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">View Details</a>
              </div>
              
              
              </div>
          </div>
        </header>
        
        <div class="scroll-container mt-5 ">
          <div class="row flex-nowrap ">
            <div class="col-lg-4 mb-4 col-md-6 ">
              <div class="card h-100 position-relative">
                <img src="{% static '/Images/Rank_2.webp' %}" height="50" class="position-absolute medal" alt="...">
                
                <img src="{% static '/Images/visiospark.png' %}" height="170" class="card-img-top" alt="...">
                <div class="card-body">
                  <div class="language text-break d-flex justify-content-between align-items-center">
                    <span class="m-1 mx-2 mt-2 text-center justify-content-center">COMSATS</span>
                      <span class="badge text-bg-warning me-2 mt-2 mb-1">2024</span>
                  </div>
                  <!-- <div class="proj-name p-4">
                    <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                      <div class="col-md-4 col-sm-12 pb-3">
                        <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">Proof</a>
                    </div>
                    
                    
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 mb-4 col-md-6  " >
                <div class="card  h-100 position-relative">
                  <img src="{%static '/Images/Rank_2.webp'%}" height="50" class="position-absolute medal" alt="...">
      
                  <img src="{%static '/Images/gdsc.png'%}" height="170" class="card-img-top" alt="...">
                  <div class="card-body ">
                    <div class="language text-break gap-2 mt-2 d-flex justify-content-between align-items-center">
                      <span class="m-1 mx-2  text-center justify-content-center">PUCIT - Codefest 3.O</span>
                      <span class="badge text-bg-warning me-2 mb-1">2023</span>
                    </div>
                    <!-- <div class="proj-name p-4">
                      <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                        <div class="col-md-4 col-sm-12 pb-3">
                          <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">Proof</a>
                      </div>
                      
                      
                      </div>
                    </div> -->
                    
                  </div>
                </div>
                
              </div>
              <div class="col-lg-4 mb-4 col-md-6  " >
                <div class="card  h-100 position-relative">
                  <img src="{%static '/Images/Rank_4.webp'%}" height="50" class="position-absolute medal" alt="...">
      
                  <img src="{%static '/Images/forman.png'%}" height="170" class="card-img-top" alt="...">
                  <div class="card-body ">
                    <div class="language text-break gap-2 mt-2 d-flex justify-content-between align-items-center">
                      <span class="m-1 mx-2  text-center justify-content-center">FCCU</span>
                      <span class="badge text-bg-warning me-2 mb-1">2024</span>
                    </div>
                    <!-- <div class="proj-name p-4">
                      <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                        <div class="col-md-4 col-sm-12 pb-3">
                          <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">Proof</a>
                      </div>
    
                      
                      
                      </div>
                    </div> -->
                    
                  </div>
                </div>
                
              </div>
              <div class="col-lg-4 mb-4 col-md-6  " >
                <div class="card  h-100 position-relative">
                  <img src="{%static '/Images/Rank_13.webp'%}" height="50" class="position-absolute medal" alt="...">
      
                  <img src="{%static '/Images/1762-0-lDJNn-X9u7egM9pH.jpg'%}" height="170" class="card-img-top bg-black" alt="...">
                  <div class="card-body ">
                    <div class="language text-break gap-2 mt-2 d-flex justify-content-between align-items-center">
                      <span class="m-1 mx-2  text-center justify-content-center">GIKI</span>
                      <span class="badge text-bg-warning me-2 mb-1">2022</span>
                    </div>
                    <!-- <div class="proj-name p-4">
                      <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                        <div class="col-md-4 col-sm-12 pb-3">
                          <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">Proof</a>
                      </div>
    
                      
                      
                      
                      </div>
                    </div> -->
                    
                  </div>
                </div>
             
          </div>

          <div class="col-lg-4 mb-4 col-md-6  " >
            <div class="card  h-100 position-relative">
              <img src="{%static '/Images/img0703.png'%}" height="50" class="position-absolute medal" alt="...">
  
              <img src="{%static '/Images/gdsc.png'%}" height="170" class="card-img-top" alt="...">
              <div class="card-body ">
                <div class="language text-break gap-2 mt-2 d-flex justify-content-between align-items-center">
                  <span class="m-1 mx-2  text-center justify-content-center">PUCIT - Codefest 4.O</span>
                  <span class="badge text-bg-warning me-2 mb-1">2023</span>
                </div>
                <!-- <div class="proj-name p-4">
                  <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                    <div class="col-md-4 col-sm-12 pb-3">
                      <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">Proof</a>
                  </div>
                  
                  
                  </div>
                </div> -->
                
              </div>
            </div>
            
          </div>

          <div class="col-lg-4 mb-4 col-md-6  " >
            <div class="card  h-100 position-relative">
              <img src="{%static '/Images/rank_7.webp'%}" height="50" class="position-absolute medal" alt="...">
  
              <img src="{%static '/Images/Screenshot 2025-01-05 230531.png'%}" height="170" class="card-img-top" alt="...">
              <div class="card-body ">
                <div class="language text-break gap-2 mt-2 d-flex justify-content-between align-items-center">
                  <span class="m-1 mx-2  text-center justify-content-center">FAST</span>
                  <span class="badge text-bg-warning me-2 mb-1">2024</span>
                </div>
                <!-- <div class="proj-name p-4">
                  <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                    <div class="col-md-4 col-sm-12 pb-3">
                      <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">Proof</a>
                  </div>
                  
                  
                  </div>
                </div> -->
                
              </div>
            </div>
            
          </div>

          <div class="col-lg-4 mb-4 col-md-6  " >
            <div class="card  h-100 position-relative">
              <img src="{%static '/Images/rank_7.webp'%}" height="50" class="position-absolute medal" alt="...">
  
              <img src="{%static '/Images/gdsc.png'%}" height="170" class="card-img-top" alt="...">
              <div class="card-body ">
                <div class="language text-break gap-2 mt-2 d-flex justify-content-between align-items-center">
                  <span class="m-1 mx-2  text-center justify-content-center">PUCIT - Codefest 6.O</span>
                  <span class="badge text-bg-warning me-2 mb-1">2024</span>
                </div>
                <!-- <div class="proj-name p-4">
                  <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                    <div class="col-md-4 col-sm-12 pb-3">
                      <a href="https://www.linkedin.com/in/abdulrehmanamerbaig/details/honors/" target="_blank" class="btn btn-primary">Proof</a>
                  </div>
                  
                  
                  </div>
                </div> -->
                
              </div>
            </div>
            
          </div>

        </div>
      </section>
    
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"></script>


    <script>
        const scrollContainer = document.querySelector('.scroll-container');
        const row = document.querySelector('.row');
    
        // Clone the cards dynamically
        const cloneCards = () => {
            const originalCards = Array.from(row.children);
            originalCards.forEach(card => {
                const clone = card.cloneNode(true);
                row.appendChild(clone);
            });
        };
        const cloneCards2 = () => {
            const originalCards = Array.from(row.children);
            originalCards.forEach(card => {
                const clone = card.cloneNode(true);
                row.appendChild(clone);
            });
        };

        cloneCards();
        
        let scrollInterval;
    
        // Function to start auto-scroll
        const startScroll = () => {
            scrollInterval = setInterval(() => {
                scrollContainer.scrollLeft += 5;
    
                // Check if we've reached the end of the first set of items
                if (scrollContainer.scrollLeft >= row.scrollWidth / 2) {
                    cloneCards();
                }
            }, 15); // Adjust speed as needed
        };
    
        // Stop scrolling
        const stopScroll = () => clearInterval(scrollInterval);
    
        // Start scrolling on page load
        startScroll();
    
        // Pause on hover
        scrollContainer.addEventListener('mouseover', stopScroll);
        scrollContainer.addEventListener('mouseout', startScroll);
        
    </script>