
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/stylesheets/project.css'%}">
  </head>
  <body>
    
    
    
    
    
    <section id="project" class=" px-5 container-lg container-md">
      <header class="d-flex mt-5 pt-5 text-white justify-content-between">
        <h3><span class="hash-tag">#</span>  projects <svg xmlns="http://www.w3.org/2000/svg" width="239" height="2" viewBox="0 0 239 2" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M239 1.5H0V0.5H239V1.5Z" fill="#C778DD"/>
          </svg></h3>
          
      </header>
      
      <div class="row mt-5">
        <div class="col-lg-4 mb-4 col-md-12 overflow-hidden card-transition" >
          <div class="card  overflow-hidden h-100">
            <img src="{%static '/Images/proj3.png'%}" height="250" class="card-img-top" alt="...">
            <div class="card-body ">
              <div class="language text-break gap-2 mt-2">
                <span class="m-1">HTML</span>
                <span class="m-1">CSS</span>
                <span class="m-1">Javascript</span>
                <span class="m-1">Bootstrap5</span>
                <span class="m-1">Django</span>
                <span class="m-1">SQLite3</span>
              </div>
                <hr>
              <div class="proj-name p-4">
                <p>TODO List</p>
                <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">

                  <div class="col-md-4 col-sm-12 pb-3">
                    <a href="https://abdulrehman001.pythonanywhere.com/" target="_blank" class="btn btn-primary">Demo</a>
                </div>
                
                <div class="col-md-6 TT col-sm-12">
                  <a  class="btn btn-primary disabled" aria-disabled="true">Source Code</a>
                  <p class="ttt">Disabled for security purpose</p>
                </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>

        <div class="col-lg-4 mb-4 col-md-12 overflow-hidden card-transition" >
          <div class="card h-100 position-relative">
            <img src="{%static '/Images/l-m.jpg'%}" height="250" class="card-img-top" alt="...">
            <div class="card-body ">
              <div class="language text-break gap-2 mt-2">
                <span class="m-1">HTML</span>
                <span class="m-1">CSS</span>
                <span class="m-1">Javascript</span>
                <span class="m-1">Bootstrap5</span>
                <span class="m-1">Machine Learning</span>
                <span class="m-1">Django</span>

              </div>
                <hr>
              <div class="proj-name mt-md-3 mt-lg-3 p-4">
                <p>Laptop & Mobile Price Prediction</p>
                <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                  <div class="col-md-4 col-sm-12 pb-3">
                    <a href="https://abdulrehmanamer001.pythonanywhere.com/" target="_blank" class="btn btn-primary">Demo</a>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <a href="https://github.com/abdulrehmanamerbaig/laptop-mobile-price-predictor" target="_blank" class="btn btn-primary">Source Code</a>

                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>

        <div class="col-lg-4 mb-4 col-md-12 overflow-hidden card-transition" >
          <div class="card h-100 position-relative">
            <img src="{%static '/Images/proj4.jpg'%}" height="250" class="card-img-top" alt="...">
            <div class="card-body ">
              <div class="language text-break gap-2 mt-2">
                <span class="m-1">HTML</span>
                <span class="m-1">CSS</span>
                <span class="m-1">Javascript</span>
                <span class="m-1">Bootstrap5</span>

              </div>
                <hr>
              <div class="proj-name mt-md-3 mt-lg-3 p-4">
                <p>Amazon Clone</p>
                <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                  <div class="col-md-4 col-sm-12 pb-3">
                    <a href="amazon_clone" class="btn btn-primary">DEMO</a>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <a href="https://github.com/abdulrehmanamerbaig/amazon-ui-clone" target="_blank" class="btn btn-primary">Source Code</a>

                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>

        <div class="col-lg-4 mb-4 col-md-12 overflow-hidden card-transition">
          <div class="card h-100 ">
            <img src="{%static '/Images/proj1.png'%}" height="250"  class="card-img-top" alt="...">
            <div class="card-body">
              <div class="language mt-2 text-break">
                <span class="m-1">HTML </span>
                <span class="m-1">CSS </span>
                <span class="m-1">Bootstrap5 </span>

              </div>
                <hr>
              <div class="proj-name p-4">
                <p>Band (Frontend)</p>
                <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                  <div class="col-md-4 col-sm-12 pb-3">
                    <a href="band" class="btn btn-primary">DEMO</a>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <a href="https://github.com/abdulrehmanamerbaig/w3-school-templates" target="_blank" class="btn btn-primary">Source Code</a>

                  </div>
                </div>
                
              </div>
              
            </div>
          </div>
          
        </div>
        
        <div class="col-lg-4 mb-4 col-md-12 overflow-hidden card-transition" >
          <div class="card h-100">
            <img src="{%static '/Images/proj2.png'%}" height="250" class="card-img-top" alt="...">
            <div class="card-body ">
              <div class="language d-flex gap-2 mt-2">
                <span class="m-1">HTML</span>
                <span class="m-1">CSS</span>
                <span class="m-1">Bootstrap5</span>

              </div>
                <hr>
              <div class="proj-name p-4">
                <p>SIMPLY ME (Frontend)</p>
                <div class="btns-alignment gap-md-2 d-lg-flex d-md-flex ">
                  <div class="col-md-4 col-sm-12 pb-3">
                    <a href="simply-me" class="btn btn-primary">DEMO</a>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <a href="https://github.com/abdulrehmanamerbaig/w3-school-templates" target="_blank" class="btn btn-primary">Source Code</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>
        
        
        <!-- <div class="col-lg-4 mb-4 col-md-12 overflow-hidden card-transition" >
          <div class="card h-100">
            <img src="{%static '/Images/portfolio.png'%}" height="220" class="card-img-top" alt="...">
            <div class="card-body ">
              <div class="language text-break  mt-2 mb-2">
                <span class="m-1">HTML</span>
                <span class="m-1">CSS</span>
                <span class="m-1">Javascript</span>
                <span class="m-1">Bootstrap5</span>
                <span class="m-1">Django</span>
              </div>
                <hr>
              <div class="proj-name p-4">
                <p>Portfolio</p>
                <div class="btns-alignment gap-md-3 d-lg-flex d-md-flex ">
                  <div class="col-md-4 col-sm-12 pb-3">
                    <a href="" class="btn btn-primary">DEMO</a>
                  </div>
                  <div class="col-md-6 TT col-sm-12">
                    <a  class="btn btn-primary disabled" aria-disabled="true">Source Code</a>
                    <p class="ttt">Disabled for security purpose</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div> -->
        
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"></script>

  